body,
button,
img {
    user-select: none; /* Empêche la sélection de texte et d'éléments */
    -webkit-user-select: none; /* Pour Safari */
    -moz-user-select: none; /* Pour Firefox */
    -ms-user-select: none; /* Pour Internet Explorer */
}

/* Empêche le callout sur iOS et désactive le highlight sur mobile */
body {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.kiosk-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kiosk-asset {
    display: flex;
    width: 99vw; /* L'image et les boutons occupent 95% de l'écran en largeur */
    height: 99vh; /* L'image occupe 95% de l'écran en hauteur */
    justify-content: space-around; /* Espacement entre les boutons */
    align-items: center; /* Centrer verticalement les boutons et l'image */
    position: relative;
}

img {
    width: 100vw; /* L'image occupe 80% de la largeur disponible */
    object-fit: contain;
    scale: 1.15;
    z-index: 0; /* L'image reste à l'arrière-plan */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 70px 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1; /* Les boutons sont au-dessus de l'image */
}
.button {
    display: flex;
    justify-content: center;
    z-index: 1; /* Les boutons sont au-dessus de l'image */
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
}

button:active {
    background-color: #003f7f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Flèches */
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    scale: 2;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* Désactiver le scroll */
* {
    overflow: hidden;
}
